.pw-app-modal {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  opacity: 1;
  display: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pw-app-modal:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.pw-app-modal > div {
  width: calc(100% - 40px);
  height: auto;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 2em;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
}
.pw-app-modal header {
  font-weight: bold;
}
.pw-app-modal h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.pw-app-modal-content h1 {
  letter-spacing: 0.05rem;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}

.pw-app-modal-error-message {
  display: none;
}

.pw-app-modal-actions-subscribe {
  display: none;
  padding-top: 14px;
}

.pw-app-modal-visit-site {
  display: none;
  padding-top: 14px;
}

#rbz-zipcode-input input {
  display: inline-block;
  width: 250px;
}

.pw-app-modal-try-different-zipcode {
  display: none;
}

.pw-app-modal-try-different-zipcode {
  text-align: center;
  margin-top: 20px;
}

#pw-app-modal-zipcode-redirect-text {
  display: none;
}

.pw-app-modal-zipcode-redirect {
  text-align: center;
}

.cart-page-warning {
  text-align: center;
  padding: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.pw-app-modal-btn {
  display: inline-block;
  padding: 9px 9px;
  margin-left: 10px;
  border-radius: 3px;
  border: none;
}

.pw-app-modal-btn:hover {
  background-color: #914f53;
}

.pw-app-modal-btn i {
  padding-right: 0.3em;
}

.pw-app-modal-warning-message {
  line-height: 130%;
  letter-spacing: 0.07rem;
  margin-bottom: 30px;
}

.pw-app-modal-error-message {
  font-size: 16px;
  color: #f66867;
  line-height: 130%;
  letter-spacing: 0.07rem;
  margin-bottom: 30px;
  text-align: center;
}

.pw-app-modal-warning-image {
  text-align: center;
}

.pw-app-modal-actions {
  text-align: center;
  padding-top: 14px;
}

.pw-app-modal .pw-app-modal-content .pw-app-modal-warning-image img {
  text-align: center;
  width: 100%;
  max-width: 120px;
  margin: 0 0 20px 0;
  opacity: 1;
}

@media (min-width: 768px) {
  .pw-app-modal .pw-app-modal-content img {
    max-width: 150px;
  }
}

.pw-app-overlay {
  pointer-events: none;
  opacity: 1;
  display: none;
  transition: opacity 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000000d1;
  z-index: 999999;
}

#rbz-zipcode-success {
  display: none;
}

/* Bubble button */

.rbz-label-container {
  position: fixed;
  bottom: 48px;
  right: 105px;
  display: table;
  visibility: hidden;
}

/* Floating bubble label positions */

.rbz-label-container-bottom-right {
  bottom: 75px;
  right: 75px;
}

.rbz-label-container-bottom-left {
  bottom: 75px;
  left: 75px;
}

.rbz-label-container-bottom-center {
  bottom: 88px;
  left: 46%;
}

.rbz-label-container-middle-right {
  bottom: 49%;
  right: 92px;
}

.rbz-label-container-middle-left {
  bottom: 49%;
  left: 92px;
}

/* Floating bubble label positions */

.rbz-label-text {
  color: #fff;
  background: rgba(51, 51, 51, 0.5);
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
}

.rbz-label-text p {
  margin: 0;
}

.rbz-label-arrow {
  display: table-cell;
  vertical-align: middle;
  color: #333;
  opacity: 0.5;
}

.rbz-float-button {
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: #353e48;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

/* Floating bubble positions */

.floating-button-bottom-right {
  bottom: 20px;
  right: 20px;
}

.floating-button-bottom-left {
  bottom: 20px;
  left: 20px;
}

.floating-button-bottom-center {
  bottom: 20px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.floating-button-middle-left {
  bottom: 48%;
  left: 20px;
}

.floating-button-middle-right {
  bottom: 48%;
  right: 20px;
}

/* Floating bubble positions */

.rbz-float-button img {
  max-width: 38px;
}

.try-different-zipcode:hover {
  cursor: pointer;
}

.my-float {
  font-size: 24px;
  margin-top: 18px;
}

a.rbz-float-button + div.rbz-label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.rbz-float-button:hover + div.rbz-label-container {
  visibility: visible;
  opacity: 1;
  z-index: 9999;
}

/* app section */

#pw-app-server-error {
  display: none;
  padding-bottom: 0;
}

#pw-app-modal-show-social-proof {
  display: none;
}

#pw-app-modal-social-share-buttons {
  display: none;
}

.pw-app-section-content {
  opacity: 1 !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.rbz-modal-center-align {
  margin: 0 auto;
  padding-bottom: 8px;
}

.pw-app-section-warning-image {
  text-align: center;
}

.pw-app-section-actions {
  text-align: center;
}

.pw-app-section .pw-app-section-content .pw-app-section-warning-image img {
  text-align: center;
  width: 100%;
  max-width: 120px;
  margin: 0 0 20px 0;
  opacity: 1;
}

#pw-app-not-servicing-error-message {
  display: none;
}

#rbz-header-not-servicing-error-message {
  display: none;
}

#rbz-zipcode-check-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Styling for mobile */
@media only screen and (max-width: 600px) {
  .pw-app-modal-actions input {
    margin-bottom: 14px;
  }

  .pw-app-modal-actions-subscribe input {
    margin-bottom: 14px;
  }

  .pw-app-modal-warning-message {
    width: auto !important;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Social share */

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em;
}

.resp-sharing-button__link img {
  max-width: 32px !important;
}

/* Top close button - skip email submission */

.close-email-popup-enter-site {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  opacity: 1;
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin: 0;
}

#close-email-popup-enter-site {
  display: none;
}

/* Close button */

.rbz-popup-close-button {
  color: #aaaaaa;
  position: fixed;
  top: 0;
  right: 18px;
  font-size: 28px;
  font-weight: bold;
}

.rbz-warning-close-button {
  color: #aaaaaa;
  position: fixed;
  top: 0;
  right: 8px;
  outline: none;
  font-size: 28px;
  font-weight: bold;
  background-color: unset !important;
  border: none !important;
  border-color: unset !important;
}

.rbz-popup-close-button:hover,
.rbz-warning-close-button:hover {
  cursor: pointer;
}

/* Multiple fields */

.rbz-multiple-input-fields-wrapper {
  text-align: center;
}

.rbz-multiple-input-fields {
  display: inline-grid;
}

.rbz-multiple-input-fields input {
  margin-bottom: 10px;
}

.rbz-multiple-inputs-button {
  margin-left: 0;
}

/* Sticky header */

button#rbz-main-header-zipcode-submit:hover {
  cursor: pointer;
}

#rbz-main-wrapper {
  display: block;
  color: inherit;
}

#rbz-main-body {
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 0px;
  left: 0px;
  height: auto;
  z-index: 99999;
  opacity: 1;
}

#rbz-main-header {
  text-align: center;
  margin: 0px;
  padding: 8px 10px;
  left: 0px;
  min-height: 55px;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  height: 60px;
}

#rbz-main-header-content {
  text-align: center;
  display: inline-block;
}

#rbz-main-header-zipcode-submit {
  min-height: 42px;
  padding: 0;
  border: none;
}

input#rbz-zipcode-header {
  min-height: 25px;
  border-radius: 3px;
  padding: 6px 8px;
}

.pw-app-modal-try-different-zipcode-header {
  display: none;
}

/* Close button */

.rbz-header-close-button {
  position: absolute;
  top: 0;
  right: 18px;
  font-size: 44px;
  font-weight: bold;
  padding-top: 18px;
}

.rbz-header-close-button:hover {
  cursor: pointer;
}

.pw-app-modal-try-different-zipcode-header:hover {
  cursor: pointer;
}
